
                            <section class="education-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa-solid fa-graduation-cap"></i> {{ i18n "awards" }}</h3>

                                <ul class="list-unstyled resume-awards-list">
                                    {{ range .Site.Params.awards.list }}
                                    <li class="mb-3">
                                        <div class="font-weight-bold">{{ .name }}</div>
                                        <div class="text-muted">{{ .body }}</div>
                                        <div class="text-muted">{{ .date }}</div>
                                    </li>
                                    {{ end }}
                                </ul>

                            </section><!--//education-section-->
