
                            <section class="etude-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa fa-book" aria-hidden="true"></i> Études</h3>

                                {{ range .Site.Params.etudes.list }}
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">{{ .title }}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-6 text-muted text-left text-md-right">{{ .place }} | {{ .dates }}</div>
                                    </div>
                                    <div class="item-content">
                                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                                        <ul class="resume-list">
                                            {{ range .items }}
                                            <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </div><!--//item-->
                                {{ end }}

                            </section><!--//etudes-section-->