
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa fa-heart"></i> {{ i18n "interests" }}</h3>

                                <ul class="list-unstyled resume-interests-list mb-0">
                                    {{ range .Site.Params.interests.list }}
                                    <li class="mb-2">{{ .name }}</li>
                                    {{ end }}
                                </ul>

                            </section><!--//certificates-section-->
