
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa-solid fa-language"></i> {{ i18n "languages" }}</h3>

                                <ul class="list-unstyled resume-lang-list">
                                    {{ range .Site.Params.languages.list }}
                                    <li class="mb-2">{{ .name }} <span class="text-muted">({{ .level }})</span></li>
                                    {{ end }}
                                </ul>

                            </section><!--//certificates-section-->
