
                            <section class="nfts-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa-brands fa-ethereum"></i> {{ i18n "nfts" }}</h3>

                                <ul class="list-unstyled resume-nfts-list">
                                    {{ range .Site.Params.nfts.list }}
                                    <li class="mb-3">
                                        <div class="font-weight-bold"><a href="{{ .url }}">{{ .name }}</div>
                                        <br>
                                        <video autoplay loop playsinline controls height="300px" src="{{ .video }}"></video></a>
                                        <br><br>
                                        <audio controls src="{{ .audio }}"></audio> 
                                    </li>
                                    {{ end }}
                                </ul>

                            </section><!--//nfts-section-->
