
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4"><i class="fa-solid fa-star"></i>  {{ i18n "skills" }}</h3>

                                {{ range .Site.Params.skills.list }}
                                <div class="item">
                                    <h4 class="item-title">{{ .title }}</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        {{ range .items }}
                                        <li class="mb-2">{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                                        {{ end }}
                                    </ul>
                                </div><!--//item-->
                                {{ end }}

                            </section><!--//skills-section-->
